#content
{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
    max-width: 700px;
    min-width: 300px;
    height: fit-content;
    border-radius: 18px;
    border-style: solid;
    background-image: linear-gradient(to right, rgb(49, 49, 49), rgb(186, 191, 186));

}
#title
{
    margin-top: 4%;
    text-align: center;
    font-size: 250%;
    color: white;
    font-weight: 700;
    background-color: black;
    max-width: 500px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;

}
body
{
    background-image: url("sweeper_background.jpg");
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
    
}
#username_log
{
    border-radius: 20px;
    border-style: none;
    min-width: 100px;
    max-width: 300px;
    height: 15%;
    font-size: 20;
    text-align: center;
    font-weight: 700;
}
#log-in, #tutorial
{
    cursor: pointer;
    max-width: 250px;
    min-width: 100px;
    height: 30px;
    border-radius: 13px;
    background-color: rgba(56, 88, 56, 0.8);
    font-size: 20;
    font-weight: 700;
    margin-top: 10px;
}
#tutorial_tab
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 100px;
    margin: auto;
    max-width: 500px;
    min-width: 250px;
    height: 500px;
    background-color: darkgrey;
    opacity: 0.9;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    text-align: left;
    padding: 10px;
    overflow-y: scroll;
    display: none;
}
#close_tab
{
    cursor: pointer;
    max-width: 250px;
    min-width: 100px;
    height: 30px;
    border-radius: 13px;
    background-color: rgba(56, 88, 56, 0.8);
    font-size: 20;
    font-weight: 700;
    margin-top: 10px;
}